* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #666;
}
body {
    font-size: 12px;
    color: #666;
    background-color: #f0f3ef;
}
#J_event {
    width: 100%;
    height: 80px;
    background-color: #180b7a;
    position: absolute;
    top: 0;
    display: none;
}
#J_event #J_event_lk {
    display: block;
    width: 1190px;
    margin: 0 auto;
    height: 80px;
    background: url(https://img13.360buyimg.com/da/jfs/t1/23303/30/14792/69992/5cab0f27E82206109/412b3e3938eaefc1.jpg) no-repeat 50% 0;
}
.shortcut {
    width: 100%;
    background-color: #e3e4e5;
    border-bottom: 1px solid #eee;
}
.shortcut .w {
    width: 1190px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color: #999;
    /* border: 1px solid #000; */
}
.shortcut .w .nav {
    float: right;
    height: 30px;
    line-height: 30px;
}
.nav li {
    float: left;
    /* margin-right: 8px; */
    /* margin: 7px 0; */
    padding: 0 7px;
    /* border-right: 1px solid #eee; */
}

.nav .spacer {
    float: left;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.shortcut a {
    color: #999;
}
.header {
    width: 1190px;
    margin: 0 auto;
    position: relative;
    /* background-color: red; */
}
.logo {
    position: absolute;
    width: 190px;
    height: 170px;
    top: -30px;
    left: 0;
    z-index: 100;
    background-color: #fff;
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png)
    /* background-image: url(https://img1.360buyimg.com/da/jfs/t1/17098/23/11599/160999/5c90a484E27dd5514/7287f0d182775168.gif?v=0.2795925691339731); */
}
.header .w {
    height: 140px;
}
.header .w .search {
    position: relative;
    height: 60px;
    /* border: 1px solid #000; */
}
.search-box {
    position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
    /* border: 1px solid #f00; */
}
.search-box .hotwords {
    position: absolute;
    /* border: 1px solid #000; */
    width: 100%;
    height: 20px;
    top: 40px;
    left: -1px;
}
.settleup {
    position: absolute;
    right: 99px;
    top: 25px;
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    color: #f00;
}
.search-box .search-inp {
    width: 500px;
    height: 35px;
    outline: none;
    border: none;
}
.search-box #search-btn {
    border-radius: 0;
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    position: absolute;
    color: #fff;
}

.search-box .hotwords ul li {
    float: left;
    margin-right: 10px;
}
.search-box .hotwords ul li:first-child a{
    color: red;
}
.navitems {
    overflow: hidden;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
    padding-top: 20px;
}
.navitems {
    width: 790px;
    bottom: 0;
    position: absolute;
    left: 200px;
    /* border: 1px solid #000; */
    padding-top: 20px;
    height: 40px;
    line-height: 40px;
}
 .navitems ul {
    float: left;
}
.navitems ul li {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    margin-left: 25px;
}
 .navitems .spacer {
    overflow: hidden;
    margin-top: 15px;
    margin-left: 17px;
    margin-right: -7px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    float: left;
}
.fs {
    height: 480px;
    margin-bottom: 30px;
    float: left;
}
.fs1 {
    width: 190px;
    background-color: #fff;
    margin-right: 10px;
}
.fs2 {
    width: 590px;
    /* background-color: red; */
    margin-right: 10px;
}
.fs3 {
    width: 190px;
    /* background: blue; */
}
.content {
    width: 1190px;
    margin: 0 auto;
    position: relative;
}
.fs4 {
    width: 190px;
    background-color: pink;
    float: right;
}

/* 左侧导航列表样式 */
.content .fs1 #menu-list {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 6px 0px;
    color: #636363;
}
.content .fs1 #menu-list li {
    height: 26px;
    line-height: 26px;
    text-align: left;
    padding-left: 10px;
    color: #636363;
}
.content .fs1 #menu-list li a {
    color: #636363;
}
#menu-content {
    display: none;
    position: absolute;
    width: 998px;
    min-height: 478px;
    background-color: #fff;
    top: 0;
    left: 190px;
    z-index: 100;
    border: 1px solid #eee;
    padding: 10px;
}
#menu-content .tabs {
    width: 100%;
    overflow: hidden;
    margin: 10px;
}
#menu-content .tabs li {
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff;
}
#menu-content .item-content dl {
    /* width: 100%; */
    position: relative;
    overflow: hidden;
    padding: 5px 0;
}
#menu-content .item-content dl dt {
    overflow: hidden;
    float: left;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
}
#menu-content .item-content dl dd {
    float: left;
    margin-left: 20px;
    left: 90px;
    width: 700px;
}
#menu-content .item-content dl dd a {
    float: left;
    margin: 3px 0;
    padding: 0 10px;
    height: 16px;
    border-left: 1px solid #e0e0e0;
    line-height: 16px;
    white-space: nowrap;
}
.content .fs1 #menu-list li a:hover{
    color: red;
}
#swiper {
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 470px; 
}
.fs3 .item {
    width: 190px;
    height: 150px;
    margin-top: 10px;
}
.fs3 .item-1 {
    background-image: url('https://img30.360buyimg.com/babel/s190x150_jfs/t1/17370/5/13005/10431/5c9c410cEaa80204f/26f73cd6e665181e.jpg!q90!cc_190x150');
}

.fs3 .item-2 {
    background-image: url('https://img30.360buyimg.com/babel/s190x150_jfs/t1/34725/15/1793/40529/5cb424a0E6ee4de42/eadc038ab44df304.jpg!q90!cc_190x150');
}

.fs3 .item-3 {
    background-image: url('https://img1.360buyimg.com/pop/s190x150_jfs/t1/30027/1/10650/14658/5cb3fc66Eb2b6ff70/431d8a358a24023d.jpg!q90!cc_190x150');
}
.user {
    height: 150px;
    background: #fff;
    margin-top: 10px;
    text-align: center;
    position: relative;
}
.news {
    overflow: hidden;
    height: 130px;
    background: #fff;
}
.service {
    overflow: hidden;
    position: relative;
    height: 190px;
}
.user_avatar {
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -34px;
    width: 65px;
    height: 65px;
}
.user_avatar_lk, .user_avatar_lk img {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}
.user_avatar_lk {
    border: 5px solid #e3e1df;
}
.user_inner {
    position: relative;
    padding-top: 62px;
    height: 78px;
}
.user_show {
    padding: 0 10px;
}
.user_show p {
    overflow: hidden;
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #888;
}
.user_profit {
    margin-top: 10px;
    height: 25px;
    font-size: 0;
}
.user_profit_lk {
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #e43f3b;
    border-radius: 13px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.user_profit_lk_plus {
    background: #363634;
    color: #e5d790;
}
.news2 {
    overflow: hidden;
    height: 130px;
    background: #fff;
}
.news2 .news_hd {
    padding: 8px 0 0;
    position: relative;
    line-height: 13px;
    font-size: 0;
}
.news2 .news_list {
    position: relative;
    padding-top: 8px;
    margin: 0 15px;
    height: 88px;
}
.news2 .news_tit {
    display: inline-block;
    font-size: 13px;
    margin-left: 15px;
    color: #1e1e1e;
}
.news2 .news_more {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 12px;
    color: #999;
}
.news2 .news_item {
    line-height: 21px;
    max-width: 160px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
}
.news_tag {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    background-color: #e47f7f;
    margin-right: 6px;
}
.service-entry {
    /* overflow: hidden; */
    padding: 18px 11px 11px;
    background: #fff;
}
.service-entry ul {
    height: 165px;
}
.service-item {
    position: relative;
    float: left;
    width: 42px;
    height: 55px;
    background: #fff;
    text-align: center;
    font-size: 12px;
}
.service-item i {
    display: block;
    width: 30px;
    height: 30px;
    margin: 4px auto 0;
    background-image: url(./image/icon.jpg);
    background-repeat: no-repeat;
}
.huafei {
    background-position: -6px 0 ;
}
.jipiao {
    background-position: -49px 0;
}
.jiudian {
    background-position: -94px 0;
}
.youxi {
    background-position: -134px 0;
}
.qiyegou {
    background-position: -6px -52px;
}
.jiayouka {
    background-position: -49px -52px;
}
.dianyingpiao {
    background-position: -94px -52px;
}
.huochepiao {
    background-position: -137px -52px;
}
.zhongchou {
    background-position: -6px -110px;
}
.licai {
    background-position: -49px -110px;
}
.lipinka {
    background-position: -94px -110px;
}
.baitiao {
    background-position: -134px -110px;
}

.service-pop {
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: #fff;
    top: 200px;
    transition: all 0.5s;
}
.service-extend .service-entry .item-frame{
    margin-top:-50px;
}
.service-extend .service-pop {
    top:22px;
}
.service-entry .item-frame.active a span {
    color: #f00;
}
.service-entry .item-frame a:hover span {
    color: #f00;
}
.service-extend .service-entry .item-frame.active a {
    border-bottom: 2px solid #f00;
}
.close{
    position: absolute;
    right: 15px;
    top: 0;
    width: 12px;
    height: 12px;
    /* border: 1px solid #000; */
}
.close::after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 2px;
    height: 14px;
    top: 0;
    left: 5px;
    transform: rotate(45deg);
    
}
.close::before {
    content: "";
    /* display: inline-block; */
    position: absolute;
    background-color: #000;
    width: 2px;
    height: 14px;
    top: 0;
    /* right: 0; */
    left: 5px;
    transform: rotate(-45deg);
}
.sk {
    background-color: #fff;
}
.sk-left {
    position: relative;
    float: left;
    width: 190px;
    height: 275px;
    background: #e83632;
    color: #fff;
}
.sk-mid {
    position: relative;
    float: left;
    width: 799px;
    height: 275px;
    /* background: #e83632; */
    border-right: solid 1px #f0f0f0;
    color: #fff;
    overflow: hidden;
}
.sk-right {
    position: relative;
    float: left;
    width: 180px;
    overflow: hidden;
    height: 275px;
    /* background: #e83632; */
    color: #fff;
    padding: 8px 10px 7px;
}
#shelper {
    background-color: #fff;
    position: absolute;
    top: 35px;
    width: 550px;
    border: 1px solid #ddd;
    display: none;
    z-index: 100;
}
#shelper li {
    height: 30px;
    line-height: 30px;
}